emacs.private.el
auto-save-list/
elpa/
ido.last
network-security.data
projectile-bookmarks.eld
projectile.cache
tmp/*
tramp
var/
init.el
orgmode.el
bindings.el
functions.el
defaults.el
packages.el
org/*
.tutor
custom.el
